$primary: #18806e;

button {
  background-color: $primary; /* Green */
  border: none;
  color: white;
  padding: 11.5px 23.5px;
  margin-right: 0.53rem;
  margin-top: 1.68rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16.5px;
  border-radius: 0.5rem;
  width: 100%;
  height: 60%;
  &:hover {
    background-color: #197566 !important; /* Green */
  }
  &:show {
    background-color: #197566 !important; /* Green */
  }
  &:active {
    background-color: #197566 !important; /* Green */
  }
  &:focus {
    background-color: #197566 !important; /* Green */
  }
}
.active {
  background-color: #18806e !important;
  color: white !important;
}
.shadow-lg {
  box-shadow: 0 0 0 rgb(255, 255, 255) !important;
  border: white;
}

.emoji-text {
  font-family: "Noto Emoji", sans-serif;
}

.form-label {
  font-weight: bold;
}