<div class="container h-100">
  <div class="row justify-content-sm-center h-100">
    <div class="col-xxl-11 col-xl-11 col-lg-11 col-md-11 col-sm-11">
      <div class="card shadow-lg py-2">
        <div class="card-body p-5">
          <h1 class="fs-3 card-title fw-bold mb-3 text-center">
            Listado de Prestamistas
          </h1>
          <p class="text-center">
            <img src="../../../assets/team-lead.png" alt="" width="75px" />
          </p>
          <div class="table-responsive">
            <table class="table caption-top table-sm table-hover">
              <thead class="text-center">
                <tr>
                  <th scope="col" colspan="1">Id</th>
                  <th scope="col">Email</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Jefe</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let jefe of listaPrestamistas">
                  <th scope="row">{{ jefe.idUsuario }}</th>
                  <td>{{ jefe.email }}</td>
                  <td>{{ jefe.persona.nombres }}</td>
                  <td>
                    {{
                      jefe.persona.apellidoPaterno +
                        " " +
                        jefe.persona.apellidoMaterno
                    }}
                  </td>

                  <td>
                    <span class="badge rounded-pill text-bg-info">{{
                      jefe.estado == 1 ? "Activo" : "Inhabilitado"
                    }}</span>
                  </td>
                  <td>{{ jefe.usuarioCreacion }}</td>
                  <td>
                    <a
                      class="btn btn-custom-edit text-link custom-tooltip"
                      data-bs-toggle="modal"
                      data-bs-target="#modalEditar"
                      (click)="empleadoSeleccionado(jefe)"
                      custom-tooltip="Editar Prestamista"
                    >
                      <i class="bi bi-pencil"></i>
                    </a>
                    <a
                      class="btn btn-custom-delete text-link custom-tooltip"
                      custom-tooltip="Eliminar Prestamista"
                      (click)="eliminar(jefe)"
                    >
                      <i class="bi bi-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            id="modalEditar"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modalEditarTitulo"
            aria-hidden="true"
            class="modal fade"
          >
            <div
              class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            >
              <div class="modal-content">
                <div class="modal-header justify-content-sm-center">
                  <h5 class="modal-title" id="modalEditarTitulo">
                    Editar Prestamista
                  </h5>
                </div>
                <form>
                  <div class="modal-body">
                    <div class="row col-md-12">
                      <div class="col-lg-3 mb-3">
                        <label class="mb-2 text-muted form-label" for="nombres"
                          >Nombres:</label
                        >
                        <input
                          id="nombres"
                          type="text"
                          class="form-control"
                          name="nombres"
                          [(ngModel)]="usuario.persona.nombres"
                          required
                          autofocus
                        />
                        <div class="invalid-feedback">Usuario es requerido</div>
                      </div>
                      <div class="col-lg-3 mb-3">
                        <label
                          class="mb-2 text-muted form-label"
                          for="apellidoPaterno"
                          >Apellido Paterno:</label
                        >
                        <input
                          id="apellidoPaterno"
                          type="text"
                          class="form-control"
                          name="apellidoPaterno"
                          [(ngModel)]="usuario.persona.apellidoPaterno"
                          required
                          autofocus
                        />
                        <div class="invalid-feedback">Usuario es requerido</div>
                      </div>
                      <div class="col-lg-3 mb-3">
                        <label
                          class="mb-2 text-muted form-label"
                          for="apellidoMaterno"
                          >Apellido Materno:</label
                        >
                        <input
                          id="apellidoMaterno"
                          type="text"
                          class="form-control"
                          name="apellidoMaterno"
                          [(ngModel)]="usuario.persona.apellidoMaterno"
                          required
                        />
                        <div class="invalid-feedback">Usuario es requerido</div>
                      </div>
                      <div class="col-lg-3 mb-3">
                        <label class="mb-2 text-muted form-label" for="telefono"
                          >Teléfono:</label
                        >
                        <input
                          id="telefono"
                          type="text"
                          class="form-control"
                          name="telefono"
                          [(ngModel)]="usuario.persona.telefono"
                          required
                        />
                        <div class="invalid-feedback">Usuario es requerido</div>
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="col-lg-3 mb-3">
                        <label
                          class="mb-2 text-muted form-label"
                          for="tipoDocumento"
                          >Tipo de Documento:</label
                        >
                        <select
                          class="form-select"
                          aria-label="Default select example"
                          [(ngModel)]="usuario.persona.tipoDocumento"
                          name="tipoDocumento"
                        >
                          <option selected value="1">DNI</option>
                          <option value="2">CE</option>
                        </select>
                        <div class="invalid-feedback">Usuario es requerido</div>
                      </div>
                      <div class="col-lg-3 mb-3">
                        <label
                          class="mb-2 text-muted form-label"
                          for="numeroDocumento"
                          >Nro de Documento:</label
                        >
                        <input
                          id="numeroDocumento"
                          type="text"
                          class="form-control"
                          name="numeroDocumento"
                          [(ngModel)]="usuario.persona.numeroDocumento"
                          required
                        />
                        <div class="invalid-feedback">Usuario es requerido</div>
                      </div>
                      <div class="col-lg-6 mb-3">
                        <label
                          class="mb-2 text-muted form-label"
                          for="direccion"
                          >Dirección:</label
                        >
                        <input
                          id="direccion"
                          type="text"
                          class="form-control"
                          name="direccion"
                          [(ngModel)]="usuario.persona.direccion"
                          required
                        />
                        <div class="invalid-feedback">Usuario es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer justify-content-center">
                    <div class="row">
                      <div class="col-md-6 d-flex justify-content-center">
                        <button
                          type="button"
                          class="btn btn-modal-primary"
                          (click)="modificar()"
                        >
                          Grabar
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button
                          #btnCloseModal
                          type="button"
                          class="btn btn-modal-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cancelar
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
