<div class="container h-100">
  <div class="row justify-content-center h-100">
    <div class="col-6">
      <div class="card shadow-lg py-2">
        <div class="card-body p-5">
          <h1 class="fs-3 card-title fw-bold mb-3 text-center">
            Listado de Jefes de Grupo
          </h1>
          <p class="text-center">
            <img src="../../../assets/team-lead.png" alt="" width="75px" />
          </p>
          <div class="row">
            <div class="col">
              <!-- Tabla de Jefes de Grupo -->
              <table class="table table-responsive">
                <!-- Encabezados de la tabla -->
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <!-- Contenido de la tabla -->
                <tbody>
                  <!-- Iterar a través de la lista de Jefes de Grupo y mostrarlos -->
                  <tr
                    *ngFor="let jefe of jefesDeGrupo"
                    (click)="seleccionarJefe(jefe)"
                  >
                    <td>{{ jefe.nombre }}</td>
                    <td class="text-center">
                      <a
                        type="button"
                        class="btn btn-primary"
                        aria-expanded="false"
                      >
                        <i class="bi bi-eye"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col">
              <!-- Tabla de Prestamistas Asignados -->
              <table class="table table-bordered">
                <!-- Encabezados de la tabla -->
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <!-- Agregar más columnas según los datos de los prestamistas -->
                  </tr>
                </thead>
                <!-- Contenido de la tabla -->
                <tbody>
                  <!-- Iterar a través de los prestamistas asignados y mostrarlos -->
                  <tr *ngFor="let prestamista of prestamistasAsignados">
                    <td>{{ prestamista.nombre }}</td>
                    <!-- Agregar más celdas según los datos de los prestamistas -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
