<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-center"
    >
      <a
        class="navbar-brand p-0 me-0 me-lg-2 cursor-pointer"
        (click)="irAlInicio()"
        aria-label="Bootstrap"
      >
        <img src="../../../assets/send.png" width="40px" alt="P icon" />
      </a>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            class="nav-link px-2 text-white cursor-pointer"
            (click)="irAlInicio()"
            >GotaChash</a
          >
        </li>
        <li class="nav-item dropdown" *ngFor="let menu of this.listaMenus">
          <a
            class="nav-link dropdown-toggle px-2 text-white text-link"
            data-bs-toggle="dropdown"
            aria-expanded="true"
            >{{ menu.descripcion }}</a
          >
          <ul
            class="dropdown-menu"
            data-bs-popper="static"
            *ngIf="menu.opciones.length > 0"
          >
            <li *ngFor="let opcion of menu.opciones">
              <a class="dropdown-item" [routerLink]="opcion.url">{{
                opcion.descripcion
              }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="text-end">
        <span class="mx-3" *ngIf="isAuthenticated">
          <i class="bi bi-person-fill" *ngIf="idPerfil != 4"></i>
          {{
            idPerfil === 4 ? "Hola, " + this.nombreUsuario : this.nombreUsuario
          }}
        </span>
        <button
          type="button"
          class="btn btn-outline-light me-2"
          (click)="irAlLogin()"
          *ngIf="!isAuthenticated"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-warning"
          (click)="irAlRegistro()"
          *ngIf="!isAuthenticated"
        >
          Regístrate
        </button>

        <button
          type="button"
          class="btn btn-light"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          *ngIf="isAuthenticated"
        >
          <i class="bi bi-grid"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#"
              ><i class="bi bi-person-fill mx-2"></i>Ver{{
                this.idPerfil === 4 ? " Datos" : " Perfil"
              }}
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="bi bi-shield-lock mx-2"></i>Cambiar Contraseña</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item text-link" (click)="cerrarSesion()"
              ><i class="bi bi-box-arrow-right mx-2"></i>Cerrar Sessión</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
