$primary: #197566;

.dropdown-item:hover {
  background-color: $primary;
  color: white;
}

.btn-outline-light:hover {
  background-color: $primary;
  color: white;
  border-color: $primary;
}

.dropdown-item {
  cursor: pointer !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
