<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-center"
    >
      <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Bootstrap">
        <img src="../../../assets/send.png" width="40px" alt="P icon" />
      </a>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a href="#" class="nav-link px-2 text-white" (click)="irAlInicio()"
            >GotaChash</a
          >
        </li>
        <li class="nav-item dropdown" *ngIf="isAdministrador">
          <a
            class="nav-link dropdown-toggle px-2 text-white"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="true"
            >Administración</a
          >
          <ul class="dropdown-menu" data-bs-popper="static">
            <li>
              <a class="dropdown-item" (click)="irAlRegistroPrestamista()"
                >Registrar Prestamista</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="irAlRegistro()"
                >Consultar Prestamista</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="irAlRegistro()"
                >Registrar Jefe de Prestamista</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="irAlRegistro()"
                >Consultar Jefe de Prestamista</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isPrestamista">
          <a
            class="nav-link dropdown-toggle px-2 text-white"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="true"
            >Préstamos</a
          >
          <ul class="dropdown-menu" data-bs-popper="static">
            <li><a class="dropdown-item" href="#">Consultar Préstamos</a></li>
            <li>
              <a class="dropdown-item" href="#">Historial de Préstamos</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isAdministrador">
          <a
            class="nav-link dropdown-toggle px-2 text-white"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="true"
            >Finanzas</a
          >
          <ul class="dropdown-menu" data-bs-popper="static">
            <li><a class="dropdown-item" href="#">Análisis Financiero</a></li>
          </ul>
        </li>
      </ul>

      <div class="text-end">
        <button
          type="button"
          class="btn btn-outline-light me-2"
          (click)="irAlLogin()"
          *ngIf="!isAdministrador"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-warning"
          (click)="irAlRegistro()"
          *ngIf="!isAdministrador"
        >
          Regístrate
        </button>
        <button
          type="button"
          class="btn btn-light"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          *ngIf="isAdministrador"
        >
          <i class="bi bi-grid"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#"
              ><i class="bi bi-person-fill mx-2"></i>Ver Perfil</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="bi bi-shield-lock mx-2"></i>Cambiar Contraseña</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="bi bi-box-arrow-right mx-2"></i>Cerrar Sessión</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
