<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-center"
    >
      <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Bootstrap">
        <img src="../../../assets/prestamo.png" width="40px" alt="P icon" />
      </a>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a href="#" class="nav-link px-2 text-white" (click)="irAlInicio()"
            >GotaChash</a
          >
        </li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle px-2 text-white"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="true"
            >Dropdown</a
          >
          <ul class="dropdown-menu" data-bs-popper="static">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <div class="text-end">
        <button
          type="button"
          class="btn btn-outline-light me-2"
          (click)="irAlLogin()"
        >
          Login
        </button>
        <button type="button" class="btn btn-warning">Regístrate</button>
      </div>
    </div>
  </div>
</header>
