<div class="container h-100">
  <div class="row justify-content-sm-center h-100">
    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-6 col-sm-9">
      <div class="card shadow-lg py-2">
        <div class="card-body p-5">
          <h1 class="fs-3 card-title fw-bold mb-3 text-center">
            Cuentas Bancarias
          </h1>
          <p class="text-center">
            <img src="../../../assets/social.png" alt="" width="75px" />
          </p>
          <form>
            <div class="row col-md-12">
              <div class="col-lg-3 mb-3">
                <label class="mb-2 text-muted form-label" for="nombres"
                  >Nombres:</label
                >
                <input
                  id="nombres"
                  type="text"
                  class="form-control"
                  name="nombres"
                  required
                  autofocus
                />
                <div class="invalid-feedback">Usuario es requerido</div>
              </div>
              <div class="col-lg-3 mb-3">
                <label class="mb-2 text-muted form-label" for="apellidoPaterno"
                  >Apellido Paterno:</label
                >
                <input
                  id="apellidoPaterno"
                  type="text"
                  class="form-control"
                  name="apellidoPaterno"
                  required
                  autofocus
                />
                <div class="invalid-feedback">Usuario es requerido</div>
              </div>
              <div class="col-lg-3 mb-3">
                <label class="mb-2 text-muted form-label" for="apellidoMaterno"
                  >Apellido Materno:</label
                >
                <input
                  id="apellidoMaterno"
                  type="text"
                  class="form-control"
                  name="apellidoMaterno"
                  required
                />
                <div class="invalid-feedback">Usuario es requerido</div>
              </div>
              <div class="col-lg-3 mb-3">
                <label class="mb-2 text-muted form-label" for="telefono"
                  >Teléfono:</label
                >
                <input
                  id="telefono"
                  type="text"
                  class="form-control"
                  name="telefono"
                  required
                />
                <div class="invalid-feedback">Usuario es requerido</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
