$primary: #18806e;

.container {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  margin-top: 20px;
  background-color: $primary;

  &:hover {
    background-color: #197566;
    color: white;
  }
}

.cont-404 {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}
