<div class="container">
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
          <div class="text-center my-5">
            <img src="../../../assets/prestamo.png" alt="logo" width="100" />
          </div>
          <div class="card shadow-lg">
            <div class="card-body p-5">
              <h1 class="fs-3 card-title fw-bold mb-4 text-center">
                Iniciar Sesión
              </h1>
              <form>
                <div class="row">
                  <div class="mb-3">
                    <label class="mb-2 text-muted" for="email">Usuario</label>
                    <input
                      id="email"
                      type="text"
                      class="form-control"
                      name="email"
                      [(ngModel)]="auth.user"
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">Usuario es requerido</div>
                  </div>
                </div>

                <div class="row">
                  <div class="mb-3">
                    <div class="mb-2 w-100">
                      <label class="text-muted" for="password">Password</label>
                      <a href="forgot.html" class="float-end text-dark">
                        Olvidates tu contraseña?
                      </a>
                    </div>
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      [(ngModel)]="auth.password"
                      name="password"
                      required
                    />
                    <div class="invalid-feedback">Password es requerido</div>
                  </div>
                </div>

                <div
                  class="row d-flex justify-content-center align-items-center"
                >
                  <button class="btn btn-primary ms-auto" (click)="onSubmit()">
                    Ingresar
                  </button>
                </div>
              </form>
            </div>
            <div class="card-footer py-3 border-0">
              <div class="text-center">
                Aun no tienes cuenta?
                <a routerLink="" class="text-dark">Create tu cuenta</a>
              </div>
            </div>
          </div>
          <div class="text-center mt-5 text-muted">
            Copyright &copy; 2013 &mdash; Prestamos
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
