/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/buttons";
// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

@import "../node_modules/animate.css/animate.min.css";

:root {
  --bs-success: #197566;
  --bs-success-rgb: #197566;
}

.text-link {
  color: #0f0f0f;
  font-weight: 600;
  cursor: pointer;
}

.btn-custom-edit {
  background-color: #19588b !important;
  border-color: #19588b !important;
  color: white !important;
  &:hover {
    background-color: #14466e !important;
    border-color: #14466e !important;
  }
  font-size: 0.3rem;
  margin-left: 0.45rem;
  height: 32px;
  width: 36.5px;

  & i {
    font-size: 0.8rem;
    display: block;
  }
}

.btn-custom-delete {
  background-color: #b21f2d !important;
  border-color: #b21f2d !important;
  color: white !important;
  &:hover {
    background-color: #8c1a25 !important;
    border-color: #8c1a25 !important;
  }
  font-size: 0.3rem;
  margin-left: 0.45rem;
  height: 32px;
  width: 36.5px;

  & i {
    font-size: 0.8rem;
    display: block;
  }
}

.btn-custom-save {
  background-color: #18806e !important;
  border-color: #18806e !important;
  color: white !important;
  &:hover {
    background-color: #197566 !important;
    border-color: #197566 !important;
  }
  font-size: 0.3rem;
  margin-left: 0.45rem;
  height: 32px;
  width: 36.5px;

  & i {
    font-size: 0.8rem;
    display: block;
  }
}

.custom-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom-tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 13px;
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  top: 50%;
  left: 100%;
  transform: translate(
    -165px,
    -50%
  ); /* Ajusta la posición según sea necesario */
  z-index: 1000;
}

.custom-tooltip:hover::after {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.custom-tooltip-right {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom-tooltip-right::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 13px;
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  top: 50%;
  left: 0; /* Ajusta esta propiedad para que el tooltip esté a la derecha */
  transform: translate(30px, -50%);
  z-index: 2147483647 !important;
}

.custom-tooltip-right:hover::after {
  visibility: visible;
  opacity: 1;
  // position: fixed;

  // z-index: 2147483647 !important;
  // transform: translate(1220px, -50%);
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
