<footer class="py-5 px-5">
  <div class="row">
    <div class="col-6 col-md-3 mb-3">
      <h5>Nosotros</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary"
            ><i class="bi bi-person mx-2"></i>Zona Clientes</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary"
            ><i class="bi bi-patch-question mx-2"></i>Preguntas frecuentes</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary"
            ><i class="bi bi-book mx-2"></i>Terminos y condiciones</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <h5>Contacto</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary"
            ><i class="bi bi-phone mx-2"></i>Tel. 01799901</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary"
            ><i class="bi bi-whatsapp mx-2"></i>Tel. 941999991</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary"
            ><i class="bi bi-buildings mx-2"></i>Av. Los Pardos #666 -
            Miraflores</a
          >
        </li>
      </ul>
    </div>

    <div class="col-md-5 offset-md-1 mb-3">
      <form>
        <h5>Entérate de nuestras Promociones</h5>
        <p>Déjanos tu correo electrónico y nosotros te contactaremos.</p>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
          <label for="newsletter1" class="visually-hidden">Email address</label>
          <input
            id="newsletter1"
            type="text"
            class="form-control"
            placeholder="Email"
          />
          <button class="btn btn-primary" type="button">Suscribirme</button>
        </div>
      </form>
    </div>
  </div>

  <div
    class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
  >
    <p class="mx-2">
      © 2023 Drop Company S.A. - Todos los derechos reservados.
    </p>
    <ul class="list-unstyled d-flex mx-2">
      <li class="ms-3 fs-2 mb-3">
        <a class="link-body-emphasis" href="#"
          ><i class="bi bi-facebook"></i
        ></a>
      </li>
      <li class="ms-3 fs-2 mb-3">
        <a class="link-body-emphasis" href="#"><i class="bi bi-twitter"></i></a>
      </li>
      <li class="ms-3 fs-2 mb-3">
        <a class="link-body-emphasis" href="#"
          ><i class="bi bi-instagram"></i
        ></a>
      </li>
    </ul>
  </div>
</footer>
